<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Shoppe</title>
    <link rel="stylesheet" type="text/css" href="/shoppe.css">
</head>

<body>
    <div>
    <%- include('../partials/_navbar.ejs') %>
    <form action="/shoppes/shoppe" method="POST">
        <label for="shoppe-name">Shoppe Name:</label>
        <input type="text" name="shoppeName" id="shoppe-name" required/>
        <br>
        <label for="location">Location:</label>
        <input type="text" name="location" id="location" required/>
        <br>
        <label for="shoppe-keeper">Shoppekeeper:</label>
        <input type="text" name="shoppeKeeper" id="shoppe-keeper" required/>
        <br>
        <label for="shoppe-photo">Shoppe Photo URL:</label>
        <input type="textarea" name="shoppePhoto" id="shoppe-photo"/>
        <br><br>
        <button type="submit" class="big-button">Add New Shoppe</button>
    </form>
</body>

</html>