<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shoppes</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
  <h1>Middle Earth Marketplace</h1>
  <p>
    <a href="/shoppes/new">Add a new Shop</a><br>
    This is where the shoppes are going to be. 
  </p>
</body>
</html>
