<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Middle Earth Bazaar</title>
  </head>
  <body>
    <h1>Welcome to the Middle Earth Bazaar Review</h1>
    <p>Discover reviews for the myriad bazaars, shoppes, and marketplaces awaiting your exploration across Middle Earth. Share your experiences, from encountering the gracious and hospitable shopkeepers to encountering merchants who may have been less than cordial, perhaps even under the influence.</p>
    <p>Step into the realm of enchantment and peruse what others have shared about these captivating destinations. Feel free to join the conversation by adding your own reviews, sharing the magic of your experiences.</p><br>
    <a href="/shoppes">Browse shoppes</a><br><br><br>
    <a href="/auth/sign-in">Sign in</a> or
    <a href="/auth/sign-up">Sign up</a>
  </body>
</html>